################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WUElev8/WUElev8/bin/Debug/net6.0
/WUElev8/.vs/WUElev8/v17
/WUElev8/WUElev8/obj
/WUElev8/.vs/WUElev8/DesignTimeBuild
/WUElev8/.vs
/.vs
/Employee performance problem statement/EmployeePerformanceProblem/.vs/EmployeePerformanceProblem/v17
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformance.DataAccess/bin/Debug/net6.0
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformance.DataAccess/obj
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformance.Services/bin/Debug/net6.0
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformance.Services/obj
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformanceProblem/bin/Debug/net6.0
/Employee performance problem statement/EmployeePerformanceProblem/EmployeePerformanceProblem/obj
